* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Lato", serif;
    height: 100vh;
    background: var(--bg);
}

.sidebar {
    background: var(--black);
    width: 4.2%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    z-index: 4;
    transition: 0.3s ease;
    border-right: 3px solid var(--lighter-sidebar-bg); 
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar:hover {
    width: 20%;
}

/* .sidebar.opened:hover ~ .main {
    left: 20%;
    width: 80%;
} */

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.opened {
    left: 0;
}

.sidebar.opened ~ .main {
    left: 4.2%;
}

.sidebar.closed {
    left: -100%;
}

.sidebar.closed ~ .main {
    left: 0;
    width: 100%;
}

.sidebar.closed ~ .main .content {
    margin-top: 3.8%;
}

.sidebar .logo_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.sidebar p {
    color: var(--white);
}

.sidebar .logo_part {
    text-decoration: none;
}

.sidebar .logo_part .logo {
    color: var(--lighter-sidebar-bg);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo_part p {
    font-size: 1.5rem;
}

.sidebar .pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: var(--white);
}

.sidebar .pages a.item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
}

.sidebar .pages a.item[status="selected"] {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages a.item[status="none"] {
    background: transparent;
}

.sidebar .pages div.item[list="closed"] > .l {
    display: none;
}

.sidebar .pages div.item[list="opened"] > .l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sidebar .pages div.item[status="selected"] > .d {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages div.item[status="none"] > .d {
    background: transparent;
}

.sidebar .pages a.item:hover {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages a.item .icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .pages .item .text {
    width: 85%;
    font-weight: 300;
}

.sidebar .pages .item .chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    width: 15%;
}

.sidebar .pages .item .chevron:hover {
    background: var(--sidebar-bg);
}

.sidebar .pages div.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.sidebar .pages div.item .d {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sidebar .pages div.item .d:hover {
    background: var(--lighter-sidebar-bg);
}

.sidebar .pages div.item .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
}

.sidebar .pages div.item .link .icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .pages div.item .link .text {
    width: 75%;
    font-weight: 300;
}

.sidebar .pages div.item .chevron {
    width: 15%;
    padding: 10px;
    border-radius: 50%;
}

.sidebar .pages div.item .l {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .pages div.item .l .subitem {
    width: 100%;
    text-decoration: none;
    padding: 8px 20px;
    margin-bottom: 8px;
    color: var(--white);
    cursor: pointer;
    font-size: 12px;
}

.sidebar .pages div.item .l .subitem:hover {
    background: var(--dark-grey);
    text-decoration: underline;
    text-decoration-style: dashed;
}

.main {
    width: 95.8%;
    position: absolute;
    top: 0;
    height: 100%;
    transition: 0.2s ease;
}

.main .header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    z-index: 3;
    height: 8%;
    background: var(--high-light-3);
    color: var(--white);
}

.main .header .left {
    display: flex;
    align-items: center;
    width: auto;
    padding: 3px 10px;
    cursor: pointer;
}

.main .header .left:hover {
    background: var(--dark-grey);
}

.main .header .left .menu_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: var(--white);
}

.main .content {
    margin-top: 4.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 92%;
    padding: 10px 15px;
    position: relative;
    width: 100%;
}

.main .content .cards  {
    display: grid;
    grid-template-columns: 9fr 4fr;
    gap: 25px;
    width: 100%;
}

.main .content .cards .card.first {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
}

.card.first .subcard {
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    padding: 5px 10px;
}

.card.first .subcard.point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    padding: 5px 10px;
}

.card.first .subcard.point .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--row-hover);
}

.card.first .subcard.point .head .text {
    padding: 5px 0px 2px 0px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 5px solid var(--color9);
    margin-left: 18px;
}

.card.first .subcard.point .head .other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.card.first .subcard.point .head .other .countrycode {
    color: var(--color7);
}

.card.first .subcard.point .head .other .separator {
    margin: 0 8px;
}

.card.first .subcard.point .head .other .date {
    color: var(--dark-grey);
}

.card.first .subcard.point .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px 0px;
}

.card.first .subcard.point .cont .subcont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding: 0px 0px;
}

.card.first .subcard.point .cont .subcont.first hr {
    height: 90%;
    border-color: var(--row-hover);
    color: var(--row-hover);
}

.card.first .subcard.point .cont .subcont.first .subcont-card {
    width: 20%;
}

.card.first .subcard.point .cont .subcont.first .subcont-card .text {
    text-align: left;
    padding: 3px 10px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 500;
}

.card.first .subcard.point .cont .subcont.first .subcont-card .val {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.card.first .subcard.point .cont .subcont.first .subcont-card .val .lastupdate {
    width: 60%;
    font-size: 12px;
    color: var(--color13);
    text-align: left;
}
.card.first .subcard.point .cont .subcont.first .subcont-card .val .rate {
    width: 40%;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}

.card.first .subcard.point .cont .subcont.first .subcont-card .val .rate[state="sup"] {
    color: var(--green);
}

.card.first .subcard.point .cont .subcont.first .subcont-card .val .rate[state="inf"] {
    color: var(--red);
}

.card.first .subcard.point .cont .subcont.first .subcont-card .val .rate[state="equ"] {
    color: var(--orange);
}

.card.first .subcard.point .cont .subcont.first .subcont-card .number {
    font-size: 1.5rem;
    color: var(--color8);
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.card.first .subcard.point .cont .subcont.first .subcont-card .val .number span {
    font-size: 1.2rem;
    color: var(--color8);
}

.card.first .subcard.point .cont .subcont.first .subcont-card .graph {
    width: 100%;
}

.card.first .subcard.point .cont .subcont.first .subcont-card .graph canvas {
    width: 100%;
}

.card.first .subcard.point .cont .subcont.second {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

/* .card.first .subcard.point .cont .subcont.second.et0 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
} */

.card.first .subcard.point .cont.crop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.card.first .subcard.point .cont.crop .selects {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card.first .subcard.point .cont.crop .subcont.second {
    margin: 0;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card {
    width: 100%;
    height: auto;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card.recap {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card.et0 {
    width: 100%;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .text {
    font-size: 14px;
    font-weight: 500;
    padding: 3px 8px;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .text.dif {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3px 8px;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-radius: 3px;
    color: var(--white);
    margin-right: 8px;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard .this {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard .this * {
    width: 100%;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.rh {
    /* background: rgba(161, 154, 254, 0.8); */
    color: var(--black);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.rh .svg {
    background: var(--color9);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.rh .value {
    color: var(--color9);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.rh .appreciation {
    text-align: center;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.ws .appreciation {
    text-align: center;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.ws {
    /* background: rgba(253, 203, 109, 0.8); */
    color: var(--black);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.ws .svg {
    background: var(--color13);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard.ws .value {
    color: var(--color13);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard .value {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard .value span {
    font-size: 1.2rem;
    text-align: center;
    margin-right: 5px;
    color: var(--black);
}

.card.first .subcard.point .cont.crop .subcont.second .subcont-card .subcard .appreciation {
    font-size: 14px;
    font-weight: 500;
}

.card.first .subcard.point .cont .subcont.second .subcont-card p.elmts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 8px;
    color: var(--color13);
    width: 100%;
    text-align: center;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4px;
    width: 100%;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts.stages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child {
    width: 100%;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child .tci-chart {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 100px;
    color: var(--dark-grey);
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child.hist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child .title {
    font-size: 14px;
    width: 100%;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child table {
    font-size: 13px;
    width: 100%;
    border-collapse: collapse;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child table thead {
    border-bottom: 3px solid var(--color13);
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child table thead tr {
    text-align: center;
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child table tbody tr {
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid var(--color10);
}

.card.first .subcard.point .cont .subcont.second .subcont-card .elmts .elmts-child table tbody tr td {
    text-align: center;
    padding: 3px;
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip.precip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip table {
    text-align: center;
    color: var(--dark-grey);
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip table thead {
    border-bottom: 3px solid var(--color13);
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip table thead tr {
    text-align: center;
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip table thead tr th {
    width: 33%;
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip table tbody tr {
    text-align: center;
    padding: 3px;
    border-bottom: 1px solid var(--color10);
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip table tbody tr td {
    font-size: 1.2rem;
    color: var(--color9);
}

.card.first .subcard.point .cont .subcont.second .subcont-card.precip .graph {
    width: 100%;
}

.card.first .subcard.point .cont .subcont.third {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card.first .subcard.point .cont .subcont.third .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.card.first .subcard.point .cont .subcont.third .bdtable {
    margin-top: 10px;
    width: 96%;
}

.card.first .subcard.point .cont .subcont.third .bdtable .text {
    font-size: 1.2rem;
    font-weight: 500;
}

.card.first .subcard.point .cont .subcont.third .bdtable table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.card.first .subcard.point .cont .subcont.third .bdtable table thead {
    border-bottom: 3px solid var(--color9);
}

.card.first .subcard.point .cont .subcont.third .bdtable table th,
.card.first .subcard.point .cont .subcont.third .bdtable table td {
    border: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card.first .subcard.point .cont .subcont.third .bdtable table th {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.card.first .subcard.point .cont .subcont.third .bdtable table tbody td {
    font-size: 13px;
    font-weight: 300;
}

.card.first .subcard.point .cont .subcont.third .bdtable table td:first-child,
.card.first .subcard.point .cont .subcont.third .bdtable table th:first-child {
    width: 30%;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.card.first .subcard.point .cont .subcont.third .bdtable table tbody tr {
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.card.first .subcard.point .cont .subcont.third .bdtable table tbody tr td {
    padding: 1px 5px;
    text-align: center;
}

.card.first .subcard.point .cont .subcont.third .bdtable table tbody tr td:nth-child(2) {
    padding: 1px 5px;
    text-align: center;
}

.card.first .subcard.point .cont .subcont.third .text {
    font-size: 14px;
    font-weight: 500;
    padding: 3px 8px;
    width: 100%;
    text-align: left;
}

.card.first .subcard.point .cont .subcont.third table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.card.first .subcard.point .cont .subcont.third table thead {
    border-bottom: 3px solid var(--color13);
}

.card.first .subcard.point .cont .subcont.third table th,
.card.first .subcard.point .cont .subcont.third table td {
    border: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card.first .subcard.point .cont .subcont.third table th {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.card.first .subcard.point .cont .subcont.third table td {
    font-size: 13px;
    font-weight: 300;
}

.card.first .subcard.point .cont .subcont.third table td:first-child,
.card.first .subcard.point .cont .subcont.third table th:first-child {
    width: 30%;
}

.card.first .subcard.point .cont .subcont.third table tbody tr {
    width: 100%;
    /* border-bottom: 1px solid  var(--color10); */
}

.card.first .subcard.point .cont .subcont.third table tbody tr td:first-child {
    padding: 1px 5px;
    text-align: start;
    width: 30%;
}

.card.first .subcard.point .cont .subcont.third table tbody tr td:nth-child(2) {
    padding: 1px 5px;
    text-align: start;
    width: 10%;
}

.card.first .subcard.point .cont .subcont.third table tbody tr td {
    padding: 1px 5px;
    text-align: start;
}

.card.first .subcard.point .cont .subcont.third table tbody tr td .progress-bar {
    width: 100%;
    height: 5px;
    background: var(--color5);
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid var(--color10); */
}

.card.first .subcard.point .cont .subcont.third table tbody tr td .progress-bar .progress-fill {
    /* width: 75%; */
    height: 5px;
    background: var(--color18);
    /* border-radius: 10px; */
}

.card.first .subcard.point .cont .subcont.third .general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}

.card.first .subcard.point .cont .subcont.third .general  .val {
    font-size: 1.5rem;
    color: var(--color9);
}

/* ######################################### */

.main .content .cards .card.second {
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 25px;
}

.card.second .subcard {
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    padding: 5px 10px;
}

.card.second .subcard.point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    padding: 2px 5px;
}

.card.second .subcard.point .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--row-hover);
}

.card.second .subcard.point .head .text {
    padding: 5px 0px 2px 0px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 5px solid var(--color9);
    margin-left: 18px;
}

.card.second .subcard.point .head .other {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.card.second .subcard.point .head .other .countrycode {
    color: var(--color7);
}

.card.second .subcard.point .head .other .separator {
    margin: 0 8px;
}

.card.second .subcard.point .head .other .date {
    color: var(--dark-grey);
}

.card.second .subcard.point .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 2px 8px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card.second .subcard.point .cont::-webkit-scrollbar {
    display: none;
}

.card.second .subcard.point .cont table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.card.second .subcard.point .cont table thead {
    border-bottom: 3px solid var(--color13);
}

.card.second .subcard.point .cont table th,
.card.second .subcard.point .cont table td {
    border: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card.second .subcard.point .cont table th {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.card.second .subcard.point .cont table td {
    font-size: 13px;
    font-weight: 300;
}

.card.second .subcard.point .cont table td:first-child,
.card.second .subcard.point .cont table th:first-child {
    width: 30%;
}

.card.second .subcard.point .cont table tbody tr {
    width: 100%;
    border-bottom: 1px solid  var(--color10);
}

.card.second .subcard.point .cont table tbody tr td {
    padding: 1px 5px;
    text-align: start;
}













